@import './../../../../variables';

.pagination{
    @include row-ct();
    h2{
        color:$black-txt;
    }
    .arrow-right{
        margin: 0 1.5em 0 0.5em;
    }
}



@media screen and (max-width: 780px) { 
    .pagination{
        margin-bottom: 1em;
    }
}