@import './../../variables';

.banner{
    height: 300px;
    background-size: cover;
    display: flex;
    flex-flow: wrap column;
    justify-content: flex-end;
    align-items: flex-start;
    .banner-title{
        color:white;
        font-weight: 700;
        font-size: 4em;
        margin: 0 0 2% 7%;
    }
}